@import 'materialize';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.container {
  height: 100vh;
  .comments {
    height:calc(100vh - 35%);
    overflow: scroll;
    .last {
      margin-bottom: 10px;
    }
    .button {
      float: left;
      width: auto;
      margin-right: 10px;
    }
  }
  .comment_form {
    height: 35%;
  }
}

.date_place {
  font-weight: bold;
  font-style: italic;
}

.result {
  margin-top: 20px;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
