@import 'materialize';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.container {
  margin-top: 30px;
}

.last {
  margin-bottom: 10px;
}

.button {
  float: left;
  width: auto;
  margin-right: 10px;
}

.date_place {
  font-weight: bold;
  font-style: italic;
}

.result {
  margin-top: 20px;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
